/.changeset/
/.github/
/coverage/
/docs/
/node_modules/
/scripts/
/src/
/test/
/dist/scripts/
/dist/vitest.config.*
/dist/**/*.map
*.tsbuildinfo
/biome.json
/tsconfig.json
/vitest.config.ts
.env
.env.*
*.log
